{% extends "base_generic.html" %}

{% block title %}Créer un ticket{% endblock %}

{% load static %}
{% block background_image %}
background-image: url('{% static "images/creation.png" %}');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
{% endblock %} 

{% block content %}
<div class="container mt-4">
    <h2>Créer un ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">Titre</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label for="id_description" class="form-label">Description</label>
            {{ form.description }}
        </div>
        <div class="mb-3">
            <label for="id_image" class="form-label">Image</label>
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
{% endblock %}
