{% extends "base_generic.html" %}

{% block title %}Supprimer Ticket{% endblock %}

{% load static %}
{% block background_image %}
background-image: url('{% static "images/supprime.png" %}');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
{% endblock %} 

{% block content %}
<div class="container mt-4">
    <h1 class="h3">Supprimer Ticket</h1>
    <p>Êtes-vous sûr de vouloir supprimer ce ticket?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="{% url 'user_posts' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
