{% extends "base_generic.html" %}

{% block title %}Accueil{% endblock %}

{% load static %}
{% block background_image %}
background-image: url('{% static "images/home_page.png" %}');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
{% endblock %}

{% block content %}
<div class="home-container">
    <div class="home-card ">
        <div class="mb-4 text-center">
            <a href="{% url 'create_ticket' %}" class="btn btn-custom mx-2">Demander une critique</a>
            <a href="{% url 'create_review_autonomous' %}" class="btn btn-custom mx-2">Créer une critique</a>
        </div>

        <!-- Affichage des tickets et critiques -->
        {% for ticket, review in tickets_with_reviews %}
        <div class="ticket-card neumorph-container mb-4">
            <div class="card-body">
                {% if ticket.image %}
                <div class="ticket-image neumorph-container mb-2">
                    <img src="{{ ticket.image.url }}" class="img-fluid rounded-start" alt="Image du ticket">
                </div>
                {% endif %}
                <div class="card-text">
                <h5 class="card-title">{{ ticket.title }}</h5>
                <p class="card-text">Publié par : <strong>{{ ticket.user.username }} le {{ ticket.time_created|date:"H:i, d M Y" }}</strong></p>
                <p class="card-text">{{ ticket.description }}</p>
                </div>
                {% if ticket.image %}
                <div class="ticket-image neumorph-container mb-2">
                    <img src="{{ ticket.image.url }}" class="img-fluid rounded-start" alt="Image du ticket">
                </div>
                {% endif %}
                

{% if review %}
<div class="review-card neumorph-container mt-3">
    <div class="card-review-answer">
        <h5 class="card-title">{{ review.headline }}</h5>
        <p class="card-text-review">Publié par : <strong>{{ review.user.username }}</strong></p>
        <p class="card-text-review">{{ review.body }}</p>
        <p class="card-text-rating">
            Note:
            <span class="rating-stars">
                {% for _ in "★★★★★"|slice:":review.rating" %}
                    <i class="bi bi-star-fill"></i>
                {% endfor %}
                {% for _ in "☆☆☆☆☆"|slice:"review.rating:" %}
                    <i class="bi bi-star"></i>
                {% endfor %}
            </span>
        </p>
    </div>
</div>
{% else %}
<a href="{% url 'create_review' ticket.id %}" class="btn btn-custom mt-2">Répondre</a>
{% endif %}


                </div>
               
            </div>
        </div>
        {% endfor %}

        <!-- Affichage des critiques autonomes -->
        {% for review in autonomous_reviews %}
        <div class="review-card neumorph-container mb-3">
            <div class="card-body">
                <h5 class="card-title text-success">{{ review.headline }}</h5>
                <p class="card-text"><small class="text-muted">{{ review.time_created|date:"H:i, d M Y" }}</small></p>
                <p class="card-text">Note: {{ review.rating }}</p>
                <p class="card-text">Publié par : <strong>{{ review.user.username }}</strong></p>
                <p class="card-text">{{ review.body }}</p>
                <p class="card-text"><small class="text-muted">{{ review.time_created|date:"H:i, d M Y" }}</small></p>
            </div>
        </div>
        {% endfor %}

        <!-- Affichage message en cas d'absence de résultats -->
        {% if not tickets_with_reviews and not autonomous_reviews %}
        <p class="text-center">Aucun post trouvé pour ce livre.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
