{% extends "base_generic.html" %}

{% block title %}Accueil{% endblock %}

{% load static %}
{% block background_image %}
background-image: url('{% static "images/home_page.png" %}');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
{% endblock %} 

{% block content %}
<div class="container-fluid mt-4 home-page">
    <div class="glass-box d-flex justify-content-between mb-4 p-3">
        <h1 class="h3">LITReview</h1>
    </div>

    <!-- Formulaire de recherche -->
    <div class="glass-box p-3 mb-4">
        <form method="GET" action="{% url 'home' %}">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Rechercher un livre..." value="{{ search_query }}">
                <button class="btn btn-primary" type="submit">Rechercher</button>
            </div>
        </form>
    </div>

    <div class="glass-box p-3 mb-4 text-center">
        <a href="{% url 'create_ticket' %}" class="btn btn-primary">Demander une critique</a>
        <a href="{% url 'create_review_autonomous' %}" class="btn btn-primary">Créer une critique</a>
    </div>

    <!-- Affichage des tickets et critiques -->
    {% for ticket, review in tickets_with_reviews %}
    <div class="glass-box card mb-3 p-3">
        <div class="card-body">
            <h5 class="card-title">{{ ticket.title }}</h5>
            <p class="card-text">{{ ticket.description }}</p>
            {% if ticket.image %}
            <div class="card mb-2">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ ticket.image.url }}" class="img-fluid rounded-start" alt="Image du ticket">
                    </div>
                </div>
            </div>
            {% endif %}
            <p class="card-text"><small class="text-muted">{{ ticket.time_created|date:"H:i, d M Y" }}</small></p>
            
            {% if review %}
                <div class="glass-box card mt-3 p-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.headline }}</h5>
                        <p class="card-text">Note: {{ review.rating }}</p>
                        <p class="card-text">{{ review.body }}</p>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'create_review' ticket.id %}" class="btn btn-secondary">Créer une critique</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <!-- Affichage des critiques autonomes -->
    {% for review in autonomous_reviews %}
    <div class="glass-box card mb-3 p-3">
        <div class="card-body">
            <h5 class="card-title">{{ review.headline }}</h5>
            <p class="card-text">Note: {{ review.rating }}</p>
            <p class="card-text">{{ review.body }}</p>
            <p class="card-text"><small class="text-muted">{{ review.time_created|date:"H:i, d M Y" }}</small></p>
        </div>
    </div>
    {% endfor %}

    <!-- Affichage message en cas d'absence de résultats -->
    {% if not tickets_with_reviews and not autonomous_reviews %}
    <p class="text-center glass-box p-3">Aucun post trouvé pour ce livre.</p>
    {% endif %}

</div>
{% endblock %}
