{% extends "base_generic.html" %}

{% load static %}
{% block background_image %}
background-image: url('{% static "images/login.png" %}');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
{% endblock %} 

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card glassbox">
        <div class="login-header">
            Connexion
        </div>
        <div class="login-body">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn-custom">Se connecter</button>
            </form>
        </div>
        <div class="login-footer">
            <p class="mt-4 sub-link">
                Pas encore inscrit? <a href="{% url 'register' %}" class="register-link">S'inscrire</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
