{% extends "base_generic.html" %}

{% block title %}Inscription{% endblock %}

{% load static %}
{% block background_image %}
background-image: url('{% static "images/subscribe.png" %}');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
{% endblock %}

{% block content %}
<div class="register-container">
    <div class="register-card glassbox">
        <div class="register-header">
            Inscription
        </div>
        <div class="register-body">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Affiche les champs du formulaire adaptés -->
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                {% endif %}
                <button type="submit" class="btn-custom">S'inscrire</button>
            </form>
        </div>
        <div class="register-footer">
            <p class="mt-4">
                Déjà inscrit ? <a href="{% url 'login' %}" class="login-link">Se connecter</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
